<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../output.css">
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="./app.js"></script>
</head>
<body class="bg-gray-900">

  <div x-data="{
    open:false,
    accept(){
      console.log('Accepted');
      this.open = false;
    }
  
  }" class="m-24" >

    <button
    @click="open = !open"
    class="group whitespace-nowrap bg-blue-500 inline-flex items-center gap-1 px-4 py-2 rounded-md text-white  font-semibold text-2xl hover:bg-blue-400 ">
    Toggle Modal
  </button>

  <!-- We use x-teleport="body" (optional) to move the modal to the body tag so that it can be on top of all other elements.   -->
  <template x-teleport="body"> >
      <!-- Backdrop --> 
      <div x-show="open" class="fixed flex justify-center items-center inset-0 bg-black bg-opacity-50 z-50">
        <!-- Dialog -->
         <div @click.outside="open = false" x-show="open" x-transition.duration.250ms class="relative text-white w-[90%] md:w-2/3 h-fit bg-neutral-900 border border-neutral-700 rounded-lg overflow-hidden" 
         
  
         >
  
          <!-- Modal Header -->
          <div class="flex justify-between items-center bg-neutral-800 p-3">
  
            <!-- Modal Title  -->
          <h3 class="font-semibold text-2xl">
            Modal Title
          </h3>
  
             <!-- Close Button -->
          <button class="text-red-500" @click="open = false">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
         </button>
  
          </div>
  
         
  
  
          <!-- Mobal Body  -->
          <div class="p-4">
            <!-- <div class="mt-4">
              <label for="" class="text-neutral-400 text-sm">label 1</label>
            <input
            class="w-full bg-neutral-800 text-white p-2 mt-2 rounded-md outline-none focus:ring-1 focus:ring-neutral-600"
            type="text" name="" id="">
            </div> -->
            Model Body
          </div>
  
  
          <!-- Modal Footer -->
          <div class="flex gap-4 mt-4 p-3 bg-neutral-800">
            <button class="bg-emerald-900 text-white px-4 py-2 rounded-md hover:bg-emerald-700 transition-all duration-200"
            @click="accept"
            >
              Save
            </button> 
  
            <button class="bg-red-900 text-white px-4 py-2 rounded-md hover:bg-red-400 transition-all duration-200"
            @click="open = false">
              Cancel
            </button>
  
            </div>
  
  
  
          
  
         </div>
  
  
         
      </div>
    </template>

  </div>

  
</body>
</html>